# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\wwwri\OneDrive\Documentos\INEC Capacitacion\RICHARD IVAN HUARACA BUÑAY\Oracle Certificado\Logica de Programacion\HMTL5 Y CSS3 PARTE 1 MI PRIMERA PAGINA\mi_primera_pagina\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
